<template name="sensorsShow">
    <div class="page lists-show">
        <nav class="js-title-nav">
            {{#if editing}}
                <form class="js-edit-form list-edit-form">
                    <input type="text" name="name" value="{{name}}">

                    <div class="nav-group right">
                        <a href="#" class="js-cancel nav-item"><span class="icon-close js-cancel" title="Cancel"></span></a>
                    </div>
                </form>
            {{else}}
                <div class="nav-group">
                    <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
                </div>

                <h1 class="js-edit-list title-page">
                    <span class="title-wrapper">{{name}}</span>
                    <span class="count-list">{{measurementCount}}</span>
                </h1>

                <div class="nav-group right">
                    <div class="nav-item options-mobile">
                        <select class="list-edit">
                            <option disabled selected>Select an action</option>
                            <option value="chart">Chart</option>
                            <option value="focus_chart">FocusChart</option>
                            <option value="delete">Delete</option>
                        </select>
                        <span class="icon-cog"></span>
                    </div>
                    <div class="options-web">
                      {{#if feed_state }}
                      <a href="" id="stop_feed">
                          <span class="chart-list">Stop Feed</span>
                      </a>
                      {{else}}
                      <a href="" id="start_feed" class="chart-list">
                          Feed Random Data
                      </a>
                      {{/if}}
                        <a href="{{pathFor 'visualization' _id=myid}}">
                            <span class="chart-list">Chart</span>
                        </a>

                        <a href="{{pathFor 'visualization2' _id=myid}}">
                            <span class="chart-list">FocusChart</span>
                        </a>
                        <a class="js-delete-list nav-item">
                            <span class="icon-trash" title="Delete list"></span>
                        </a>
                    </div>
                </div>
            {{/if}}

            <form class="js-todo-new todo-new input-symbol">
                <input type="text" placeholder="Type here to add new measurements">
                <span class="icon-add js-todo-add"></span>
            </form>
        </nav>

        <div class="content-scrollable list-items">
            <div class="list-item">
                <span class="title-wrapper">Location: {{location}}</span>
            </div>
            <div class="list-item">
                <input readonly type="text" value="Measurements"> TimeStamp
            </div>
            {{#if measurementsReady}}
                {{#with _id}} {{! Establish new data context with only the '_id'
                          field. This way, when the 'incompleteCount' field
                          changes, we don't re-render the list contents }}
                    {{#each measurements this}}
                        {{> measurementsItem}}
                    {{else}}
                        <div class="wrapper-message">
                            <div class="title-message">No measurement here</div>
                            <div class="subtitle-message">Add new measurement using the field above</div>
                        </div>
                    {{/each}}
                {{/with}}
            {{else}}
                <div class="wrapper-message">
                    <div class="title-message">Loading measurements...</div>
                </div>
            {{/if}}

        </div>
    </div>
</template>
