<template name="visDaily">
<div class="page lists-show">
    <nav class="js-title-nav">
        <div class="nav-group">
            <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="js-edit-list title-page">
            <span class="title-wrapper">Daily Chart for {{name}}</span>
        </h1>

        <div class="nav-group right">
            <a href="{{pathFor 'visHourly' _id=myid year=endYear month=endMonth}}">
                <span class="chart-list">HourlyChart for month {{endYear}}-{{endMonth}} </span>
            </a>
        </div>
    </nav>

    {{#if dailyDataReady}}
        <div class="content-scrollable list-items">
            <div id="chartContainer" style="height: 500px">
                <svg id="daily_chart"></svg>
            </div>
        </div>
    {{else}}
        <div class="wrapper-message">
            <div class="title-message">Loading measurements...</div>
        </div>
    {{/if}}

</div>
</template>