<template name="visualization2">
<div class="page lists-show">
    <nav class="js-title-nav">
        <div class="nav-group">
            <a href="#" class="js-menu nav-item"><span class="icon-list-unordered" title="Show menu"></span></a>
        </div>

        <h1 class="js-edit-list title-page">
            <span class="title-wrapper">{{name}}</span>
            <span class="count-list">{{measurementCount}}</span>
        </h1>

        <div class="nav-group right">
            <a href="{{pathFor 'visualization' _id=myid}}">
                <span class="chart-list">Chart</span>
            </a>
        </div>
    </nav>
    <div class="content-scrollable list-items">

        <svg id="chart"></svg>

    </div>

</div>
</template>